name: Deploy to Yandex Object Storage

on:
  push:
    branches: [ main ]   # <- если у вас другая ветка, замените на вашу (например master)
  workflow_dispatch:     # даёт кнопку "Run workflow" в UI

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install awscli
        run: |
          python -m pip install --upgrade pip
          pip install awscli

      - name: Sync files to Yandex Object Storage
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.YCAJEEsdYT9r1rnuJvqO_3tin }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.YCM9nPYa2NtyXBbXYx_QyLFyw2WZpdbRW7_NBkG2 }}
        run: |
          SOURCE_DIR="./"             # <- Поменяйте, если ваша папка называется иначе
          BUCKET="3dt"          # <- Замените на имя вашего бакета
          ENDPOINT="https://storage.yandexcloud.net"

          if [ ! -d "$SOURCE_DIR" ]; then
            echo "ERROR: Source directory $SOURCE_DIR not found"
            ls -la
            exit 1
          fi

          aws s3 sync "$SOURCE_DIR" "s3://$BUCKET" --endpoint-url "$ENDPOINT" --acl public-read
